CompileFlags:
  CompilationDatabase: "build"
  Add:
    - --std=c++23
    - -O2
    - -Wall
    - -Wextra
    - -Wshadow
    - -Wfloat-equal  
  Compiler: "/opt/homebrew/bin/g++-15"

Index:
  Background: Build