[project]
name = "at-c"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.13"
dependencies = []

[dependency-groups]
dev = [
    "black>=25.1.0",
    "pyright>=1.1.408",
    "ruff>=0.15.1",
]
